{% extends 'database/database.html' %}
{% block navbarconference %}
<li class="nav-item active"><a class="nav-link" href="#">Conferences</a></li>
{% endblock %}
{% block title %}Conferences{% endblock %}
{% block text %}
    <h1> Conferences </h1>
    {% if conference_list %}
        <ul>
        {% for conference in conference_list %}
            <li>{{ conference.start_date }}-{{ conference.end_date }}: <a href="{{ conference.get_absolute_url }}">{{ conference.name }}</a></li>
        {% endfor %}
        </ul>
        {% if page_obj.has_previous or page_obj.has_next %}
            <div>
                {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                |
                {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        <p> No conferences available </p>
    {% endif %}
{% endblock %}