{% extends 'base.html' %}
{% load staticfiles%}
{% load static %}

{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    // To allow sending AJAX requests with permissions (see https://stackoverflow.com/a/5107878/4619199)
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
<script src="{% static "javascript/particles.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<!-- <link rel="stylesheet" href="{% static "conference/output.css" %}" > -->

<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'database:index' %}"><img class="fcc_logo" src="{% static "images/fcc_logo.png" %}"/>FCC Conference</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% block navbarhome %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database:index' %}">Home</a></li>
            {% endblock %}
            {% block navbarconference %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database:conferences' %}">Conferences</a></li>
            {% endblock %}
            {% block navbarpresentation %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database:presentations' %}">Presentations</a></li>
            {% endblock %}
            {% block navbarpeople %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database:people' %}">People</a></li>
            {% endblock %}
            {% block navbarsearch %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database:search' %}">Search</a></li>
            {% endblock %}
        </ul>
        {% if user.username %}
        <ul class="navbar-nav">
            {% if user.userprofile %}
                <li class="nav-item"><a class="nav-link" href="{% url 'database:user_profile_detail' user.userprofile.id %}"><span class="glyphicon glyphicon-user"></span>{{ user.username }}'s Profile</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'database:user_detail' user.id %}"><span class="glyphicon glyphicon-user"></span>{{ user.username }}'s Profile</a></li>
            {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'database:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'database:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'database:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
{% if message_list %}
    {% for message in message_list %}
        <div class="alert alert-info" role="alert">
            <strong>New message from {{ message.message_from.first_name }} {{message.message_from.last_name}}:</strong> 
            {{message}}
            <button type="submit" class="close"  aria-label="Close" title="Mark message as seen">
                <a class="mark_message_seen" data-url="{% url 'database:user_message' message.id %}" data-method="PUT"><span aria-hidden="true">&times;</span></a>
            </button>
        </div>
    {% endfor %}
{% else %}
{% endif %}
<div class="container-fluid">
    {% block text %}{% endblock %}
</div>


<script>
// Mark a message as seen:
$('.mark_message_seen').on('click', function(event){
    event.preventDefault();
    $.ajax({
        url: $(this).data('url'),
        method: $(this).data('method'),
        success: document.location.reload()
    })

})
</script>

<style>
    .fcc_logo {
        width: 100px;
    }
</style>

{% endblock %}



{% block scripts %}
{% block additionalscripts %}{% endblock %}
{% endblock %}