{% extends 'database/database.html' %}
{% block navbarpeople %}
<li class="nav-item active"><a class="nav-link" href="{% url 'database:people' %}">People</a></li>
{% endblock %}
{% block title %}{{ user_profile.last_name }}, {{ user_profile.first_name }}{% endblock %}
{% block text %}
<h1>{{ user_profile.title }} {{ user_profile.first_name }} {{ user_profile.last_name }} {% if user_profile.id == user.id %}<a href="{% url 'database:people_edit' pk=user.id %}">(edit)</a>{% endif %}</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h4>Institution: {{ user_profile.institution }}</h4>
<h3>About</h3>
<p>{{ user_profile.information }}</p>
<h3> Organized Conferences </h3>
{% if user_profile.coordinator %}
    <ul>
        {% for conference in conference_list %}
            <li>{{ conference.start_date }}-{{ conference.end_date }}: <a href="{{ conference.get_absolute_url }}">{{ conference.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p> No conferences organized yet. </p>
{% endif %}
<h3> Presentations Given </h3>
{% if presentation_list %}
    <ul>
        {% for presentation in presentation_list %}
            <li>{{ presentation.date }}: <a href="{{ presentation.get_absolute_url }}">{{ presentation.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p> No presentations given yet. </p>
{% endif %}
{% endblock %}
